.charts-text-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-body-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-value {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
}

.charts-text-white {
  fill: #ffffff;
}

/* 
color fills for ridge line plot
first, forth, and seventh row are the same color
second, fifth, and eighth row are the same color
third, sixth, and ninth row are the same color
this is to create a pattern of three colors that repeats every three rows
*/
.vis12-row:nth-child(3n + 1) path {
  fill: #16d2ff;
}
.vis12-row:nth-child(3n + 2) path {
  fill: #c368f9;
}
.vis12-row:nth-child(3n + 3) path {
  fill: #60e2b7;
}
